* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom left, rgba(255, 255, 0, 0.658), rgba(255, 0, 0, 0.691), rgba(0, 0, 255, 0.737));
}
nav {
    background-image: linear-gradient(to left,  rgba(255, 255, 0, 0.345), rgba(255, 0, 0, 0.293), rgba(0, 0, 255, 0.457) );
    height: 100px;
    text-align: center;
    width: 100%;
}

nav li {
    padding: 30px;
    display: inline-block;
    margin-top: 10px;
}

nav li a {
    text-decoration: none;
    font-weight: 600;
    font-style:oblique;
    color: black;
}
nav li a:hover{
    color: aliceblue;
}

.container {
    width: 99%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;    
}

.sessoes {
    background-image: linear-gradient(to bottom left, rgba(255, 255, 0, 0.345), rgba(255, 0, 0, 0.293), rgba(0, 0, 255, 0.457));
    margin: auto;
    width: 400px;
    height: 870px;
    text-align: center;
    border: 1px solid black;
    font-size: 30px;
    font-size: medium;
    background-color: aliceblue;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.298);
    border-radius: 10px 10px 1px 1px;
}
.teste {
    border-radius: 10px;
    height: 350px;
    width: 350px;
    margin: auto;
    margin-top: 25px;
    border: 1px solid black;
}

.sessoes h2 {
    margin: 10px;
    font-style: italic;
}
.heroi{
    height: 350px;
    width: 350px;
    border-radius: 10px;
}
.sessoes .artigo {
    margin: auto;
    width: 380px;
}
.artigo p {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 10px;
    font-weight: 500;
}

footer{
    height: 100px;
}
footer p {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    color: aliceblue;
}

@media (max-width: 1270px) {
    .container {
        background-color: aqua;
        width: 99%;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;    
    }
}
@media (max-width: 850px) {
    .container {
        background-color: aqua;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
    .sessoes {
        width: 400px;
        height: 970px;
    }
}