/* =============================
   DARK MODE
============================= */

body[data-theme="dark"] {
    --bg: #161717;
    /* fundo quente neutro */
    --bg-alt: #1e1e1e;
    /* contraste suave */
    --text: #e8e0d4;
    /* marfim */
    --primary: #389dfc;
    /* azul neutro (não neon) */
    --accent: #1dbd71;
    /* verde quente */
    --highlight: #ffe08a;
    /* amarelo creme */
}


body[data-theme="dark"] #hero {
    background: #121212;
}

body[data-theme="dark"] p {
    color: #e4dbcb;
}

body[data-theme="dark"] h2 {
    color: var(--text);
}

body[data-theme="dark"] .curso,
body[data-theme="dark"] input,
body[data-theme="dark"] textarea,
body[data-theme="dark"] .theme-toggle {
    background: #1e1e1e;
    border: 1px solid rgba(255, 240, 220, 0.06);
}

body[data-theme="dark"] #hero {
    background: url("../imagens/French.jpg") center no-repeat;
    background-size: cover;
    color: var(--bg-alt);
}

body[data-theme="dark"] #hero-text>p {
    color: var(--text);
}

body[data-theme="dark"] #hero-text>h2 {
    margin-top: 10px;
    color: var(--text);

}


body[data-theme="dark"] .curso {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

body[data-theme="dark"] .curso {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

body[data-theme="dark"] .english {
    background-image: url("../imagens/English.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body[data-theme="dark"] .spanish {
    background-image: url("../imagens/Spanish.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body[data-theme="dark"] .french {
    background-image: url("../imagens/French.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* =============================
   SWITCH DE TEMA
============================= */

.theme-toggle {
    position: relative;
    width: 60px;
    height: 28px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: var(--bg-alt);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    transition: var(--transition);
}

.theme-toggle .icon-sun,
.theme-toggle .icon-moon {
    font-size: 14px;
    pointer-events: none;
}

.theme-toggle .toggle-ball {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--accent);
    transition: var(--transition);
    transform: translateX(0);
    pointer-events: none;
}

/* Estado DARK → move a bolinha para a direita */

body[data-theme="dark"] .theme-toggle .toggle-ball {
    transform: translateX(30px);
}

/* Ajuste de contraste no dark */

body[data-theme="dark"] .theme-toggle {
    border-color: rgba(255, 255, 255, 0.2);
}

body[data-theme="dark"] .hamburger {
    background-color: var(--bg);
    color: var(--text);
}