/* =============================
   VARIÃVEIS (PREPARA DARK MODE)
============================= */

:root {
    --bg: #ffffff;
    --bg-alt: #f3f4f6;
    --text: #1f2937;
    --primary: #3b82f6;
    --accent: #10b981;
    --highlight: #fbbf24;

    --radius: 8px;
    --transition: 0.2s ease;
}

/* =============================
   GLOBAL
============================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    color: var(--text);
    line-height: 1.5;
}

.container {
    width: 95vw;
    margin: auto;
    padding: 2rem 0;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

h3 {
    font-family: "Poppins", sans-serif;
}

/* =============================
   HEADER
============================= */

header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    opacity: 0.9;
    z-index: 5;
    background: var(--bg);
    padding: 15px 0px 5px 0px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 2px rgb(145, 145, 145);
}

.hamburger {
    display: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0px 10px;
}

.header-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#menu {
    display: flex;
    gap: 15px;
    padding: 10px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    transition: var(--transition);
    transition: 0.3s;
}

#menu a:hover {
    border-radius: 4px;
    padding: 8px 10px;
    font-weight: bold;
    color: black;
    background-color: rgb(230, 229, 229);
}



/* =============================
   HERO
============================= */

#hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 10px;
    background: url("../imagens/Spanish.jpg") center no-repeat;
    background-size: cover;
    height: 70vh;
}

#hero-text {
    width: 70%;
}

#hero-text>h2 {
    text-align: left;
    margin-bottom: 10px;
}

#btn_cursos {
    text-align: center;
    width: 18%;
    font-size: 0.9em;
    padding: 0.7rem 1em;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: var(--radius);
    background: var(--accent);
    transition: var(--transition);
}

#btn_cursos:hover {
    opacity: 0.9;
}

/* =============================
   QUEM SOMOS
============================= */

#quem-somos {
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    gap: 10px;
}

#quem-somos>.sobre {
    padding: 2rem;
    margin: 2px;
    opacity: 0;
    border-radius: var(--radius);

    animation: appear linear forwards;
    animation-timeline: view();
    animation-range: entry cover 50%;
}

#quem-somos>.sobre>p {
    text-indent: 5px;
}

#quem-somos>.sobre>p::first-letter {
    font-size: 1.8em;
    font-weight: bold;
}

#quem-somos>#metodologia {
    background-color: var(--bg-alt);
}

@keyframes appear {
    to {
        opacity: 1;
    }
}
/* =============================
   CURSOS
============================= */

#cursos {
    text-align: center;
}

.cursos-lista {
    margin-top: 10px;
    display: flex;
    gap: 1rem;
}

.curso {
    background: var(--bg-alt);
    height: 250px;
    margin: 0px 15px;
    border-radius: var(--radius);
    padding: 1.5rem;
    transition: var(--transition);
}

.curso-text {
    color: white;
    opacity: 0.6;
    padding: 8px;
    text-align: left;
    border-radius: var(--radius);
    background-color: #121212;
}

.english {
    background-image: url("../imagens/English.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spanish {
    background-image: url("../imagens/Spanish.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.french {
    background-image: url("../imagens/French.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.curso:hover {
    transform: translateY(-3px);
}

/* =============================
   CONTATO
============================= */

#contato {
    text-align: center;
}

#contato form {
    display: flex;
    margin: auto;
    width: 95%;
    gap: 0.8rem;
    margin-top: 1.5rem;
    flex-direction: column;
}

input,
textarea {
    padding: 0.8rem;
    border: 1px solid #d1d5db;
    border-radius: var(--radius);
    font-size: 1rem;
}

#submit {
    text-align: center;
    font-size: 0.9em;
    padding: 0.7rem 1em;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: var(--radius);
    background-color: var(--primary);
    transition: var(--transition);
}


/* =============================
   FOOTER
============================= */

footer {
    text-align: center;
    font-size: 0.9rem;
    padding: 1.5rem 0;
    background: var(--bg-alt);
}

/* =============================
   RESPONSIVO
============================= */
@media screen and (min-width: 320px) and (max-width: 768px) {

    .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-content {
        flex-direction: column;
    }

  
    #menu {
        display: none;
        flex-direction: column;
        margin-top: 10px;
        gap: 1px;
        width: 100%;
        padding: 0;
    }

    nav a {
        display: block;
    }

    #menu>li {
        text-align: center;
        width: 100%;
        padding: 8px 0;
    }

    .theme-toggle {
        margin: 2px 5px;
    }

    #hero {
        background-image: url("../imagens/French.jpg");
    }

    #btn_cursos {
        font-size: 0.8em;
    }

    .hamburger {
        display: block;
        color: #121212;
        background-color: #ffffff;
        padding: 0.7rem;
        border-radius: var(--radius);
        border: none;
        cursor: pointer;
        transition: var(--transition);
    }

    #hero-text {
        color: white;
    }

    .cursos-lista {
        flex-flow: column;
    }

    #quem-somos {
        flex-wrap: wrap;
    }

    #btn_cursos {
        width: 30%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1026px) {
    #hero {
        background-image: url("../imagens/English.jpg");
    }

    #btn_cursos {
        width: 30%;
        font-size: 1em;
    }
}